/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
body, html {
  font: verdana;
}

div {
  border: 1px solid black;
  }

h2 {
  font: verdana;
  color: black;
  align: left;
  font-size: 20px;
}

/*TOP HEADER SECTION*/

.header-container, logo {
display: flex;
flex-direction: row;
justify-content: center;
flex-grow:8;
align-items: center;
font-family: verdana;
font-size: 14px;
font-weight: bold;
color: aquamarine;
}

.nav-bar {
display: inline-block;
align-items: center;
justify-content: space-between;
flex-grow: 8;
font-family: verdana;
font-size: 14px;
font-weight: bold;
color: black;
}



/*MAIN BODY SECTION*/

/*BODY*/

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*LEFT COLUMN*/

.left-column{
  display: flex;
  flex-direction: column;
  background: lightblue;
  width: 630px;
}

.drinks-image {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.drinks {
font-size: 20px;
font-weight: bold;
color: white;
text-align: center;
}

.orca
font-size: 20px;
font-weight: bold;
color: white;
text-align: center;
}

.earth-image {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
font-size: 20px;
font-weight: bold;
color: white;
text-align: center;
text-align: top;
}

.camera-image {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
font-size: 20px;
font-weight: bold;
color: white;
text-align: center;
text-align: top;
}

/*CENTRE COLUMN*/

.center {
  flex-direction: column;
  background: green;
  width: 300px;
}


/*RIGHT COLUMN*/

.right {
  background: orange;
  width: 240px;
}

.cookie {
  background: orange;
  width: 240px;
}

.news-bites {
  background: orange;
  width: 25%;
}

.blank {
  background: orange;
  width: 25%;
}
